header {
  width: 100%;
}

.header_wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: #213135;
  padding: 4rem 0 1.5rem;
  color: var(--main-color-white);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
}

header .header-inner_wrap {
  width: 90%;
  margin: 0 auto;
}

header .header-inner_wrap .logo {
  display: inline-block;
  font-size: 2.5rem;
  letter-spacing: 1px;
  transition: all 0.5s;
}

header .header-inner_wrap .gnb-button {
  display: block;
  position: relative;
  float: left;
  width: 3.2rem;
  height: 1.2rem;
  margin-top: 15px;
  transition: all 0.5s;
}

header .header-inner_wrap .gnb-button span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background: #fff;
}

header .header-inner_wrap .gnb-button span.a {
  top: 0;
}

header .header-inner_wrap .gnb-button span.b {
  bottom: 0;
}

header .header-inner_wrap .contact {
  display: block;
  float: right;
  margin-top: 1rem;
  font-size: 1.4rem;
  transition: all 0.5s;
}

/* gnb menu */

.nav {
  position: absolute;
  top: 0;
  left: -100rem;
  width: 0;
  height: 100vh;
  padding: 9.5rem 5rem;
  text-align: left;
  transition: all 0.7s;
  background: black;
  color: var(--main-color-white);
  overflow: hidden;
}

.nav .gnb-menu {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  padding: 2rem 0;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  transform: translate(-50%, -50%);
}

.nav .gnb-menu li a {
  line-height: 5rem;
  font-size: 2.2rem;
}

.nav .gnb-menu a span {
  font-size: 2rem;
  font-family: var(--font-family-myeongjo);
  font-style: italic;
  text-transform: none;
}
